################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generator/bin
/Generator/obj
/Generator/.vs/Generator
/StellarRPCSDK/obj
/StellarRPCSDK/bin
/SDKTest/obj
/SDKTest/obj
/SDKTest/bin/Debug/net8.0
/SorobanExample/obj
/SorobanExample/bin/Debug/net8.0
