################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generator/bin
/Generator/obj
/Generator/.vs/Generator
/StellarRPCSDK/obj
/StellarRPCSDK/bin
/SDKTest/obj
/SDKTest/obj
/SDKTest/bin/Debug/net8.0
/SorobanExample/obj
/SorobanExample/bin/Debug/net8.0
/SDKTest/bin/UnityDebug/net8.0
/SDKDemoUnity/StellarSDKUnityDemo/.vs/StellarSDKUnityDemo
/SDKDemoUnity/StellarSDKUnityDemo/obj/Debug
/SDKDemoUnity/StellarSDKUnityDemo/Temp
/SDKDemoUnity/StellarSDKUnityDemo/Library
/SDKDemoUnity/StellarSDKUnityDemo/Logs
/SDKDemoUnity/StellarSDKUnityDemo/UserSettings
/SDKDemoUnity/StellarSDKUnityDemo/Assets/TextMesh Pro
/SDKTest/bin/Release/net8.0
/SorobanExample/arithmetic/target
/StellarRPCSDK_Native/obj
/SorobanRPCSDK_Native/obj/Debug/net8.0
/SorobanRPCSDK_Native/obj
/StellarRPCSDK_Native/bin/Debug/net8.0
/StellarRPCSDK_Native/bin
/StellarRPCSDK_Native/bin/Debug
/ProtoGenerator/bin
/ProtoGenerator/obj
/StellarRPCSDK_Native/native_client_tests/rust_client/target
