################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Generator/bin
/Generator/obj
/Generator/.vs/Generator
/StellarRPCSDK/obj
/StellarRPCSDK/bin
/SDKTest/obj
/SDKTest/obj
/SDKTest/bin/Debug/net8.0
/SorobanExample/obj
/SorobanExample/bin/Debug/net8.0
/SDKTest/bin/UnityDebug/net8.0
/SDKDemoUnity/StellarSDKUnityDemo/.vs/StellarSDKUnityDemo
/SDKDemoUnity/StellarSDKUnityDemo/obj/Debug
/SDKDemoUnity/StellarSDKUnityDemo/Temp
/SDKDemoUnity/StellarSDKUnityDemo/Library
/SDKDemoUnity/StellarSDKUnityDemo/Logs
/SDKDemoUnity/StellarSDKUnityDemo/UserSettings
/SDKDemoUnity/StellarSDKUnityDemo/Assets/TextMesh Pro
/SDKTest/bin/Release/net8.0
/SorobanExample/arithmetic/target
/StellarRPCSDK_Native/obj
/SorobanRPCSDK_Native/obj/Debug/net8.0
/SorobanRPCSDK_Native/obj
/StellarRPCSDK_Native/bin/Debug/net8.0
/StellarRPCSDK_Native/bin
/StellarRPCSDK_Native/bin/Debug
/ProtoGenerator/bin
/ProtoGenerator/obj
/StellarRPCSDK_Native/native_client_tests/rust_client/target
/StellarNativeGRPCClientTest/bin/Debug/net8.0
/StellarNativeGRPCClientTest/obj
/StellarNativeGRPCServerTest/StellarNativeGRPCServerTest.csproj.user
/StellarNativeGRPCServerTest/obj/Debug/net8.0/refint/StellarNativeGRPCServerTest.dll
/StellarNativeGRPCServerTest/obj/Debug/net8.0/ref/StellarNativeGRPCServerTest.dll
/StellarNativeGRPCServerTest/obj/Debug/net8.0/ApiEndpoints.json
/StellarNativeGRPCServerTest/obj/Debug/net8.0/apphost.exe
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.AssemblyInfo.cs
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.AssemblyInfoInputs.cache
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.csproj.AssemblyReference.cache
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.dll
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.pdb
/StellarNativeGRPCServerTest/obj/Debug/net8.0/StellarNativeGRPCServerTest.sourcelink.json
/StellarNativeGRPCServerTest/obj/Release/net8.0/StellarNativeGRPCServerTest.AssemblyInfo.cs
/StellarNativeGRPCServerTest/obj/Release/net8.0/StellarNativeGRPCServerTest.AssemblyInfoInputs.cache
/StellarNativeGRPCServerTest/bin/Debug/net8.0/StellarNativeGRPCServerTest.dll
/StellarNativeGRPCServerTest/bin/Debug/net8.0/StellarNativeGRPCServerTest.exe
/StellarNativeGRPCServerTest/bin/Debug/net8.0/StellarNativeGRPCServerTest.pdb
/StellarNativeGRPCServerTest/bin/Debug/net8.0/StellarRPCSDK.dll
/StellarNativeGRPCServerTest/bin/Debug/net8.0/StellarRPCSDK.pdb
